<section class="hero-store-seller" 
         style="background-image:
                linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('{% if tienda.imagen_portada %}{{ tienda.imagen_portada.url }}{% else %}/static/assets/img/store_seller.jpg{% endif %}');">
  <div class="hero-store-seller__overlay"></div>
  
  <div class="hero-store-seller__content">

    <h1 class="hero-store-seller__title">
      {{ tienda.nombre }}
    </h1>

    <h2 class="hero-store-seller__subtitle">
      {{ tienda.email }}
    </h2>
    
    <p class="hero-store-seller__description hero-store-seller__description--intro">
      {{ tienda.descripcion }}
    </p>

    <p class="hero-store-seller__description hero-store-seller__description--intro">
      Categoría: {{ tienda.categoria }}
    </p>

  </div>
</section>