<section class="hero-store-seller">
  <div class="hero-store-seller__overlay"></div>

  <div class="hero-store-seller__content">
    <h1 class="hero-store-seller__title">{{ tienda.nombre }}</h1>
    <h2 class="hero-store-seller__subtitle">{{ tienda.email }}</h2>

    <p class="hero-store-seller__description hero-store-seller__description--intro">
      {{ tienda.descripcion }}
    </p>

    <p class="hero-store-seller__description hero-store-seller__description--intro">
      Categoria de {{ tienda.categoria.nombre }}
    </p>
  </div>
</section>