{% load static %}

<nav class="navbar_product_category">

  <div class="navbar_left_group">
    <div class="navbar_product_category__actions--left">
      <a href="{% url 'usuarios:home' %}" class="navbar_product_category__link-image">
        <img src="{% static 'assets/img/sena-logo.png' %}"
             class="navbar_product_category__img"
             alt="">
      </a>
    </div>

    <div class="navbar_separator"></div>

    <div class="navbar_product_category__logo--left">
      <h1 class="navbar_product_category__title--SenaMerch">
        <span class="navbar_product_category__letter navbar_product_category__letter--1">S</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--2">e</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--3">n</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--4">a</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--5">M</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--6">e</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--7">r</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--8">c</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--9">h</span>
        <img src="{% static 'assets/icons/wheat.svg' %}"
             alt=""
             class="navbar_product_category__icon">
      </h1>
    </div>
  </div>

  <div class="navbar_product_category__actions">

    <a href="{% url 'tiendas:profile_store_seller' %}" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/store_profile.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Perfil tienda</span>
    </a>

    <a href="{% url 'pedidos:store_orders' %}" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/orders_stores.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Pedidos Tienda</span>
    </a>

     <!-- 🔹 MIS PEDIDOS COMO USUARIO -->
    <a href="{% url 'pedidos:client_orders' %}" 
        class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/orders_users.svg' %}" 
            class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Mis Pedidos</span>
    </a>

    <!-- <a href="{% url 'tiendas:seller_catalog' %}" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/catalog.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Catálogo</span>
    </a> -->

    <a href="{% url 'productos:create_product' %}" 
      class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/add_product.png' %}" 
          class="navbar_product_category__icon" 
          alt="">
      <span class="navbar_product_category__tooltip">Añadir Productos</span>
    </a>

    <a href="{% url 'tiendas:home_seller' %}" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/home.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Más Productos</span>
    </a>

    <a href="{% url 'usuarios:logout' %}" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/exit.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Salir</span>
    </a>

  </div>
</nav>