.section-footer-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.4rem;
}

.section-footer-content > * {
  width: 100%;
}

@media (min-width: 1024px) {
  .seeker_products_list {
    flex: 50%;
  }

  .sellers_product_list {
    flex: 1;
  }
}