.content-seeker-and-users {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: var(--gap-xxs);
  width: 100%;
  align-items: start;
}
.right-panel {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
@media (max-width: 768px) {
  .content-seeker-and-users {
    grid-template-columns: 1fr;
  }
  .seeker{
    order: 1;
  }
  .view_users_admin{
    order: 2;   
    gap: var(--gap-xxs);
  }
  .admin-container{
    width: 100%;
  }
}
.seeker_products_list_client{
  display: flex;
}
.product-card__title--client{
  display: flex;
  justify-content: center;
  font-size: var(--fs-sm);
  color: var(--secundary-950);
  font-family: var(--font-primary-semibold);
  margin: 0 auto;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--secundary-400); 

}