{% load static %}

<nav class="navbar_product_category">

  <div class="navbar_left_group">
    <div class="navbar_product_category__actions--left">
      <a href="{% url 'home_client' %}" class="navbar_product_category__link-image">
        <img
          src="{% static 'assets/img/sena-logo.png' %}"
          class="navbar_product_category__img"
          alt=""
        >
      </a>
    </div>  

    <div class="navbar_separator"></div>

    <div class="navbar_product_category__logo--left">
      <h1 class="navbar_product_category__title--SenaMerch">
        SenaMerch
      </h1>
    </div>
  </div>

  <!-- 🔍 BUSCADOR -->
  <div class="search-bar--navbar navbar_product_category__search-bar">
    <input
      type="text"
      class="search-bar__input navbar_product_category__input-search"
      placeholder="Busca productos o tiendas"
    >
  </div>

  <!-- ⚙️ ACCIONES -->
  <div class="navbar_product_category__actions">

    <!-- PEDIDOS -->
    <a
      href="{% url 'client_orders' %}"
      class="navbar_product_category__link navbar_product_category__link--icon-nav-bar"
    >
      <img
        src="{% static 'assets/icons/orders.svg' %}"
        class="navbar_product_category__icon"
        alt=""
      >
    </a>

    <!-- ⭐ CREAR TIENDA SOLO SI NO TIENE -->
    {% if request.user.is_authenticated and request.user.tiendas.count == 0 %}
    <a
      href="{% url 'create_store' %}"
      class="navbar_product_category__link navbar_product_category__link--icon-nav-bar"
    >
      <img
        src="{% static 'assets/icons/create_store.svg' %}"
        class="navbar_product_category__icon"
        alt=""
      >
      <span class="navbar_product_category__tooltip">Crear tienda</span>
    </a>
    {% endif %}

    <!-- LOGOUT -->
    <a
      href="{% url 'logout' %}"
      class="navbar_product_category__link navbar_product_category__link--icon-nav-bar"
    >
      <img
        src="{% static 'assets/icons/exit.svg' %}"
        class="navbar_product_category__icon"
        alt=""
      >
    </a>

    <!-- PERFIL -->
    <a
      href="{% url 'profile' %}"
      class="navbar_product_category__link navbar_product_category__link--icon-nav-bar"
    >
      <img
        src="{% static 'assets/icons/profile_user.svg' %}"
        class="navbar_product_category__icon"
        alt=""
      >
    </a>

  </div>
</nav>
