{% load static %}

<nav class="navbar_product_category">

  <div class="navbar_left_group">

      <div class="navbar_product_category__actions--left">
          <a href="{% url 'usuarios:home' %}" class="navbar_product_category__link-image">
            <img src="{% static 'assets/img/sena-logo.png' %}" class="navbar_product_category__img" alt="">
          </a>
      </div>  

      <div class="navbar_separator"></div>

      <div class="navbar_product_category__logo--left">
        <h1 class="navbar_product_category__title--SenaMerch">

          <span class="navbar_product_category__letter">S</span>
          <span class="navbar_product_category__letter">e</span>
          <span class="navbar_product_category__letter">n</span>
          <span class="navbar_product_category__letter">a</span>
          <span class="navbar_product_category__letter">M</span>
          <span class="navbar_product_category__letter">e</span>
          <span class="navbar_product_category__letter">r</span>
          <span class="navbar_product_category__letter">c</span>
          <span class="navbar_product_category__letter">h</span>

          <img src="{% static 'assets/icons/wheat.svg' %}" alt="" class="navbar_product_category__icon">

        </h1>
      </div>

  </div>

  <!-- SEPARADOR DERECHO -->
  <div class="navbar_actions_separator"></div>

  <!-- ICONOS DERECHA -->
  <div class="navbar_product_category__actions">

    <a href="{% url 'usuarios:login' %}" class="navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/login.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Iniciar sesión</span>
    </a>

    <a href="{% url 'usuarios:register' %}" class="navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/register.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Registrarse</span>
    </a>

    <a href="{% url 'usuarios:contact' %}" class="navbar_product_category__link--icon-nav-bar">
      <img src="{% static 'assets/icons/contact.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Contacto</span>
    </a>

  </div>

</nav>