{% load static %}
<nav class="navbar_product_category--client">
  <div class="navbar_product_category__logo--client">
    <h1 class="navbar_product_category__title--client">Categorias</h1>
  </div>

  <div class="navbar_product_category__actions--client">

    <a href="#" data-categoria="all" class=" navbar_product_category__link--client">
      <img src="{% static 'assets/icons/many.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip--client">Todas</span>
    </a>

    <a href="#" data-categoria="frutas" class="navbar_product_category__link--client">
      <img src="{% static 'assets/icons/fruit.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip--client">Frutas</span>
    </a>

    <a href="#" data-categoria="verduras" class="navbar_product_category__link--client">
      <img src="{% static 'assets/icons/vegetables.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip--client">Verduras</span>
    </a>

    <a href="#" data-categoria="lacteos" class="navbar_product_category__link--client">
      <img src="{% static 'assets/icons/milk.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip--client">Lácteos</span>
    </a>

    <a href="#" data-categoria="granos" class="navbar_product_category__link--client">
      <img src="{% static 'assets/icons/grain.svg' %}" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip--client">Granos</span>
    </a>

  </div>
</nav>
