{% load static %}

<div class="search-bar">
  <button class="search-bar__button" aria-label="Buscar">
    <span class="search-bar__icon">
      <img src="{% static 'assets/icons/icon_search.svg' %}" alt="Buscar" />
    </span>
  </button>

  <input
    type="text"
    class="search-bar__input"
    placeholder="Busca un productos o tiendas"
  />

  <button class="search-bar__button" aria-label="Cancelar búsqueda">
    <span class="search-bar__icon--close">
      <img
        src="{% static 'assets/icons/icon_cancel.svg' %}"
        alt="Cancelar"
        class="icon_cancel"
      />
    </span>
  </button>
</div>
