{% extends "index_create_product.html" %}
{% load static %}

{% block content %}

{% include "components/navbar_create_product.html" %}

<section class="create-product-post-one">
  <div class="create-product-post-one__wrapper">
    
    <header class="create-product-post-one__header">
      <h1 class="create-product-post-one__title">Crear Producto</h1>
      <p class="create-product-post-one__subtitle">
        Este formulario es para registrar<br> tu producto en <strong>SENA MERCH</strong>.
        Podrás publicarlo y gestionarlo fácilmente.
      </p>
    </header>

    <form method="POST" action="{% url 'productos:create_product' %}" class="create-post__form">
      {% csrf_token %}

      <div class="create-product-post-one__group">
        <label class="create-product-post-one__label">Nombre del producto</label>
        <input 
          type="text"
          name="name"
          class="create-product-post-one__input"
          placeholder="Ej: Tomate del Valle"
          required
        >
      </div>

      <div class="create-post__group">
        <label class="create-post__label">Descripción producto</label>
        <textarea 
          name="description"
          class="create-post__textarea"
          placeholder="Describe brevemente el producto..."
          required
        ></textarea>
      </div>

      <div class="create-post__group">
        <label class="create-post__label">Fecha de caducidad</label>
        <input type="date"
               name="expiration_date"
               class="create-post__input"
               max="{{ fecha_max }}"
               required>
      </div>

      <div class="create-post__group">
        <label class="create-post__label">Tipo de producto</label>
        <select class="create-post__input"
                name="tipo_producto"
                id="tipo_producto"
                required>
            <option value="" disabled selected>Selecciona tipo</option>
            <option value="solido">Sólido</option>
            <option value="liquido">Líquido</option>
        </select>
      </div>
      
      <div class="create-product-post-one__secondary">
        <a href="{% url 'tiendas:seller_catalog' %}"
           class="btn-secundary btn-secundary-style create-product-post-one__cancel">
          Cancelar
          <img src="{% static 'assets/icons/cancel.svg' %}"
               class="btn-secundary__icon"/>
        </a>
      </div>

      <div class="create-product-post-one__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
          <img src="{% static 'assets/icons/get_into.svg' %}" 
               class="btn__icon login__btn-icon">
        </button>
      </div>

    </form>
  </div>
</section>

{% endblock %}