{% extends "index_create_product.html" %}
{% load static %}
{% block title %}Crear producto paso 3 | SenaMerch {% endblock %}
{% block content %}

{% include "components/navbar_create_product.html" %}

<section class="create-post">
  <div class="create-post__wrapper">
    <header class="create-post__header">
      <h1 class="create-post__title">
        Agrega las características del producto
      </h1>
      <p class="create-post__subtitle">
        Este formulario es para registrar tu producto.
      </p>
    </header>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form
      method="POST"
      action="{% url 'productos:create_product_step3' %}"
      class="create-post__form"
    >
      {% csrf_token %}

      <!-- METODO DE PAGO -->
      <div class="create-post__group">
        <label class="create-post__label">Método de pago</label>
        <select name="payment_method" class="create-post__input" required>
          <option value="" disabled {% if not product_data.metodo_pago %}selected{% endif %}>Selecciona una opción</option>
          <option value="efectivo" {% if product_data.metodo_pago == "efectivo" %}selected{% endif %}>Efectivo</option>
        </select>
        {% if form_errors.metodo_pago %}
          <span class="text-danger">{{ form_errors.metodo_pago }}</span>
        {% endif %}
      </div>

      <!-- TIPO DE ENVIO -->
      <div class="create-post__group">
        <label class="create-post__label">Tipo de envío</label>
        <select name="shipping_type" class="create-post__input" required>
          <option value="" disabled {% if not product_data.tipo_envio %}selected{% endif %}>Selecciona una opción</option>
          <option value="contraentrega" {% if product_data.tipo_envio == "contraentrega" %}selected{% endif %}>Sí, solo envío contraentrega</option>
        </select>
        {% if form_errors.tipo_envio %}
          <span class="text-danger">{{ form_errors.tipo_envio }}</span>
        {% endif %}
      </div>

      <!-- STOCK -->
      <div class="create-post__group">
        <label class="create-post__label" for="stock">
          Stock disponible (en {{ unidad }})
        </label>
        <input
          type="number"
          id="stock"
          name="stock"
          class="create-post__input"
          placeholder="Agregue el stock de este producto"
          min="0"
          required
          value="{{ product_data.stock|default_if_none:'' }}"
        />
        <small class="create-post__help">
          Indica la cantidad disponible para la venta.
        </small>
        {% if form_errors.stock %}
          <span class="text-danger">{{ form_errors.stock }}</span>
        {% endif %}
      </div>
      <div class="create-post__group">
        
      </div>

      <!-- BOTON VOLVER -->
      <div class="create-post__secondary">
        <a
          href="{% url 'productos:create_product_step2' %}"
          class="btn-secundary btn-secundary-style"
        >
          Volver
          <img
            src="{% static 'assets/icons/return.svg' %}"
            class="btn-secundary__icon"
          />
        </a>
      </div>

      <!-- BOTON SIGUIENTE -->
      <div class="create-post__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
          <img
            src="{% static 'assets/icons/continue.svg' %}"
            class="btn-secundary__icon"
          />
        </button>
      </div>
    </form>
  </div>
</section>

{% endblock %}