{% extends "index_create_product.html" %}
{% load static %}
{% block title %}Crear producto paso 2 | SenaMerch {% endblock %}
{% block content %}

{% include "components/navbar_create_product.html" %}

<section class="create-post">
  <div class="create-post__wrapper">

    <header class="create-post__header">
      <h1 class="create-post__title">
        Continúa con la información del producto
      </h1>
      <p class="create-post__subtitle">
        Completa esta información adicional para que los compradores conozcan mejor tu producto.
      </p>
    </header>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'productos:create_product_step2' %}" class="create-post__form">
      {% csrf_token %}

      <!-- CATEGORÍA -->
      <div class="create-post__group">
        <label class="create-post__label">Categoría</label>
        <select name="categoria" class="create-post__input" required>
          <option value="" disabled {% if not product_data.categoria %}selected{% endif %}>Selecciona una opción</option>
          {% for value, label in categorias %}
            <option value="{{ value }}" {% if product_data.categoria == value %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- UNIDAD -->
      <div class="create-product-post-one__group">
        <label class="create-product-post-one__label">
          Precio * Unidad de medida
        </label>
        <select name="unit" class="create-product-post-one__input" required>
          <option value="" disabled {% if not product_data.unidad %}selected{% endif %}>Selecciona una Unidad</option>
          {% for u in unidades %}
            <option value="{{ u }}" {% if product_data.unidad == u %}selected{% endif %}>{{ u|capfirst }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- PRECIO -->
      <div class="create-product-post-one__group">
        <label class="create-product-post-one__label">Precio</label>
        <input type="number"
               name="price"
               class="create-product-post-one__input {% if 'precio' in form_errors %}input-error{% endif %}"
               placeholder="Agregue el precio del producto"
               min="0"
               required
               value="{{ product_data.precio }}">
        {% if 'precio' in form_errors %}
          <span class="text-error">{{ form_errors.precio }}</span>
        {% endif %}
      </div>

      <!-- DESCUENTO -->
      <div class="create-post__group">
        <label class="create-post__label">Descuento (%)</label>
        <input type="number"
               name="discount"
               class="create-post__input {% if 'descuento' in form_errors %}input-error{% endif %}"
               placeholder="Agregue el descuento del producto"
               min="0"
               max="100"
               value="{{ product_data.descuento }}">
        {% if 'descuento' in form_errors %}
          <span class="text-error">{{ form_errors.descuento }}</span>
        {% endif %}
      </div>

      <!-- VOLVER -->
      <div class="create-post__secondary">
        <a href="{% url 'productos:create_product' %}"
           class="btn-secundary btn-secundary-style">
          Volver
          <img src="{% static 'assets/icons/return.svg' %}"
               class="btn-secundary__icon"/>
        </a>
      </div>

      <!-- SIGUIENTE -->
      <div class="create-post__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
          <img src="{% static 'assets/icons/continue.svg' %}"
               class="btn-secundary__icon"/>
        </button>
      </div>

    </form>

  </div>
</section>

{% endblock %}