{% extends "index_create_product.html" %}
{% load static %}
{% block content %}

{% include "components/navbar_create_product.html" %}

<section class="create-post">
  <div class="create-post__wrapper">

    <header class="create-post__header">
      <h1 class="create-post__title">
        Continúa con la información del producto
      </h1>
      <p class="create-post__subtitle">
        Completa esta información adicional para que los compradores conozcan mejor tu producto.
      </p>
    </header>

    <form method="POST" action="{% url 'productos:create_product_step2' %}" class="create-post__form">
      {% csrf_token %}

      <div class="create-post__group">
        <label class="create-post__label">Categoría</label>
        <select name="categoria" class="create-post__input" required>
          <option value="" selected disabled>Selecciona una opción</option>

          {% for value, label in categorias %}
            <option value="{{ value }}">{{ label }}</option>
          {% endfor %}

        </select>
      </div>

      <div class="create-product-post-one__group">
        <label class="create-product-post-one__label">
          Precio * Unidad de medida
        </label>

        <select name="unit" class="create-product-post-one__input" required>
          <option value="" selected disabled>Selecciona una Unidad</option>

          {% if tipo_producto == "liquido" %}
              <option value="litro">Litro</option>
              <option value="mililitro">Mililitro</option>
              <option value="centilitro">Centilitro</option>
              <option value="decilitro">Decilitro</option>
              <option value="decalitro">Decalitro</option>
              <option value="hectolitro">Hectolitro</option>
              <option value="kilolitro">Kilolitro</option>
          {% else %}
              <option value="tonelada">Tonelada</option>
              <option value="kg">Kilogramo</option>
              <option value="g">Gramo</option>
              <option value="mg">Miligramo</option>
              <option value="Uni">Unidad</option>
          {% endif %}
        </select>
      </div>

      <div class="create-product-post-one__group">
        <label class="create-product-post-one__label">Precio</label>
        <input type="number"
               name="price"
               class="create-product-post-one__input"
               placeholder="Agregue el precio del producto"
               min="0"
               required>
      </div>

      <div class="create-post__group">
        <label class="create-post__label">Descuento (%)</label>
        <input type="number"
               name="discount"
               class="create-post__input"
               placeholder="Agregue el descuento del producto"
               min="0"
               max="100">
      </div>

      <div class="create-post__secondary">
        <a href="{% url 'productos:create_product' %}"
           class="btn-secundary btn-secundary-style">
          Volver
          <img src="{% static 'assets/icons/return.svg' %}"
               class="btn-secundary__icon"/>
        </a>
      </div>

      <div class="create-post__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
          <img src="{% static 'assets/icons/continue.svg' %}"
               class="btn-secundary__icon"/>
        </button>
      </div>

    </form>

  </div>
</section>

{% endblock %}