{% extends "index_create_product.html" %}
{% load static %}

{% block content %}

{% include "components/navbar_create_product.html" %}

<section class="edit-post-two">
  <div class="edit-post-two__wrapper">

    <header class="edit-post-two__header">
      <h1 class="edit-post-two__title">Edita la información del producto</h1>
    </header>

    {% if messages %}
      {% for message in messages %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'productos:edit_product_step2' producto.id %}" class="edit-post-two__form">
      {% csrf_token %}

      <div class="edit-product-one__group">
        <label class="edit-product-one__label">Edita la categoría</label>
        <select name="categoria" class="edit-product-one__input" required>
          {% for value, label in producto.CATEGORIA_CHOICES %}
            <option value="{{ value }}" {% if producto.categoria == value %}selected{% endif %}>
              {{ label }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="edit-product-one__group">
        <label class="edit-product-one__label">Edita la Unidad de medida</label>
        <select name="unit" class="edit-product-one__input" required>
          {% for value, label in producto.UNIDAD_MEDIDA_CHOICES %}
            <option value="{{ value }}" {% if producto.unidad_medida == value %}selected{% endif %}>
              {{ label }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="edit-product-one__group">
        <label class="edit-product-one__label">Edita el precio</label>
        <input 
          type="number"
          name="price"
          value="{{ producto.precio }}"
          min="0"
          class="edit-product-one__input"
          required>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita el Descuento (%)</label>
        <input 
          type="number"
          name="discount"
          value="{{ producto.descuento }}"
          min="0"
          max="100"
          class="edit-post-two__input">
      </div>

      <div class="edit-post-two__group">
        <div class="edit-post-two__secondary">
          <a href="{% url 'productos:edit_product_seller' producto.id %}"
            class="btn-secundary btn-secundary-style edit-post-two__cancel">
            Volver
            <img src="{% static 'assets/icons/return.svg' %}" 
                class="btn-secundary__icon"/>
          </a>
        </div>
      </div>

      <div class="edit-post-two__buttons">
        <button type="submit" class="btn btn--primary edit-post-two__save">
          Siguiente
          <img src="{% static 'assets/icons/continue.svg' %}" 
                class="btn-secundary__icon"/>
        </button>
      </div>

    </form>
  </div>
</section>

{% endblock %}