{% extends 'index_register.html' %}
{% load static %}

{% block title %}Agregar Dirección{% endblock %}

{% block content %}
<section class="address-store-form">
  <div class="address-store-form__wrapper">

    <header class="address-store-form__header">
      <h2 class="address-store-form__title">Continúa añadiendo tu dirección</h2>
      <p class="address-store-form__subtitle">
        Completa la información restante para registrar 
        tu dirección en <strong>SENA MERCH</strong>.
      </p>
    </header>

    <form class="address-store-form__form" method="post">
      {% csrf_token %}

      <div class="address-store-form__group">
        <label class="address-store-form__label">Departamento</label>
        <select name="department" class="address-store-form__input" required>
          <option value="">Selecciona...</option>
          <option value="Risaralda">Risaralda</option>
          <option value="Quindío">Quindío</option>
          <option value="Caldas">Caldas</option>
        </select>
      </div>

      <div class="address-store-form__group">
        <label class="address-store-form__label">Municipio</label>
        <input
          type="text"
          name="city"
          placeholder="Ej: Bogotá"
          class="address-store-form__input"
          required
        >
      </div>

      <div class="address-store-form__group address-store-form__group--full">
        <label class="address-store-form__label">Información adicional</label>
        <input
          type="text"
          name="additional_info"
          placeholder="Apartamento, interior, referencias, etc."
          class="address-store-form__input"
        >
      </div>

      <!-- VOLVER -->
      <div class="address-store-form__secondary">
        <a href="{% url 'add_address' %}" class="btn-secundary btn-secundary-style">
          Volver
          <img src="{% static 'assets/icons/return.svg' %}" class="btn-secundary__icon">
        </a>
      </div>

      <!-- GUARDAR -->
      <div class="address-store-form__buttons">
        <button type="submit" class="btn btn--primary">
          Guardar
          <img src="{% static 'assets/icons/save.svg' %}" class="btn__icon">
        </button>
      </div>

    </form>
  </div>
</section>
{% endblock %}
