{% extends 'index_profile_user.html' %}
{% load static %}

{% block title %}Perfil Usuario | SenaMerch {% endblock %}

{% block content %}
<section class="user-profile-wrapper">
  <!-- ============================= -->
  <!-- PANEL DEL USUARIO -->
  <!-- ============================= -->
  <section class="user-profile">
    <div class="user-profile__cards">
      <section class="user-profile__card">
        <!-- Encabezado -->
        <div class="user-profile__header">
          <div class="user-profile__avatar">
            {% if profile and profile.image %}
              <img src="{{ profile.image.url }}" alt="Foto del usuario">
            {% else %}
              <img src="{% static 'img/admin_profile.png' %}" alt="Foto del usuario">
            {% endif %}
          </div>
          <div class="user-profile__info">
            <h1 class="user-profile__name">@{{ request.user.first_name }}</h1>
            <p class="user-profile__role">Cliente</p>
          </div>
        </div>

        <!-- Información -->
        <div class="user-profile__details">
          <div class="user-profile__field">
            <span class="user-profile__label">Correo electrónico:</span>
            <span class="user-profile__value">{{ request.user.email }}</span>
          </div>
          <div class="user-profile__field">
            <span class="user-profile__label">Nombre completo:</span>
            <span class="user-profile__value">{{ request.user.get_full_name|default:"No registrado" }}</span>
          </div>
          <div class="user-profile__field">
            <span class="user-profile__label">Teléfono:</span>
            <span class="user-profile__value">{{ profile.phone|default:"No registrado" }}</span>
          </div>
          <div class="user-profile__field">
            <span class="user-profile__label">Contraseña:</span>
            <span class="user-profile__value">************</span>
          </div>
        </div>
      </section>

      <section class="user-profile__card">
        <h2 class="user-profile__subtitle">Dirección</h2>

        <!-- Información de la Dirección -->
        <div class="user-profile__details">
          {% if address %}
            <div class="user-profile__field">
              <span class="user-profile__label">Barrio:</span>
              <span class="user-profile__value">{{ address.neighborhood }}</span>
            </div>

            <div class="user-profile__field">
              <span class="user-profile__label">Número de dirección:</span>
              <span class="user-profile__value">{{ address.address_number }}</span>
            </div>

            <div class="user-profile__field">
              <span class="user-profile__label">Tipo de vía:</span>
              <span class="user-profile__value">{{ address.road_type|default:"—" }}</span>
            </div>

            <div class="user-profile__field">
              <span class="user-profile__label">Código postal:</span>
              <span class="user-profile__value">{{ address.postal_code|default:"—" }}</span>
            </div>

            <div class="user-profile__field">
              <span class="user-profile__label">Departamento:</span>
              <span class="user-profile__value">{{ address.department }}</span>
            </div>

            <div class="user-profile__field">
              <span class="user-profile__label">Municipio:</span>
              <span class="user-profile__value">{{ address.city }}</span>
            </div>

            <div class="user-profile__field">
              <span class="user-profile__label">Información adicional:</span>
              <span class="user-profile__value">{{ address.extra_info|default:"—" }}</span>
            </div>

          {% else %}
            <div class="user-profile__field">
              <span class="user-profile__label">Dirección:</span>
              <span class="user-profile__value">No tienes dirección registrada.</span>
            </div>
          {% endif %}
        </div>

      </section>
    </div>

    <!-- ============================= -->
    <!-- SECCIÓN DEL BOTÓN -->
    <!-- ============================= -->
    <div class="user-profile__actions-primary">
      <a href="{% url 'usuarios:edit_profile_client' %}" class="btn btn--primary">
        Editar datos
        <img src="{% static 'assets/icons/edit.svg' %}" class="btn__icon user-profile__icon">
      </a>
    </div>
  </section>
</section>
{% endblock %}