{% extends 'index_register.html' %}
{% load static %}

{% block title %}Registro Paso 2{% endblock %}

{% block content %}
<section class="register">
  <div class="register__wrapper">

    <header class="register__header">
      <h1 class="register__title">Completa los datos para crear tu cuenta</h1>
      <p class="register__subtitle">
        Este formulario es para registrar<br>
        tu tienda en <strong>SENA MERCH</strong>.
        Con tu perfil podrás publicar productos y gestionar tus ventas fácilmente.
      </p>
    </header>

    <form method="post" class="register__form" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="register__group">
        <label class="register__label">Imagen de portada</label>
        <input
          type="file"
          name="cover_image"
          class="register__input--image"
          accept="image/*"
        >
      </div>

      <div class="register__group">
        <label class="register__label">Crea tu contraseña</label>
        <div class="register__password-wrapper">
          <input
            class="register__input register__input--password"
            type="password"
            name="password"
            autocomplete="new-password"
            required
          >
          <button type="button" class="register__toggle-password">
            Mostrar
          </button>
        </div>
      </div>

      <div class="register__group">
        <label class="register__label">Confirma tu contraseña</label>
        <div class="register__password-wrapper">
          <input
            class="register__input register__input--password"
            type="password"
            name="confirm_password"
            autocomplete="new-password"
            required
          >
          <button type="button" class="register__toggle-password">
            Mostrar
          </button>
        </div>
      </div>

      <!-- CONTENEDOR DE BOTONES -->
      <div class="register__actions">

        <a
          type="button"
          href="{% url 'register' %}"
          class="btn-secundary btn-secundary-style register__action-return"
        >
          Volver
          <img
            src="{% static 'assets/icons/return.svg' %}"
            class="btn-secundary__icon"
            alt=""
          >
        </a>

        <button
          type="submit"
          class="btn btn--primary register__action-register"
        >
          Registrar
          <img
            src="{% static 'assets/icons/register.svg' %}"
            alt=""
            class="btn__icon"
          >
        </button>

      </div>
    </form>

  </div>
</section>
{% endblock %}
