{% extends 'password_recovery.html' %}
{% load static %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<div class="main-site-reset">
  <section class="reset">

    <div class="reset__card">

      <h2 class="reset__title">Restablecer Contraseña</h2>

      <form class="reset__form" method="post">
        {% csrf_token %}

        <p class="reset__form-subtitle">
          Puedes utilizar un formato de contraseña como<br>
          este: Número, Color, Caracter, Número, Caracter
        </p>

        <div class="reset__field">
          <label class="reset__label">Escribe tu contraseña</label>
          <div class="reset__password-wrapper">
            <input
              type="password"
              name="password"
              class="reset__input reset__input--password"
              required
            >
            <button type="button" class="reset__toggle-password">Mostrar</button>
          </div>
        </div>

        <div class="reset__field">
          <label class="reset__label">Confirma tu contraseña</label>
          <div class="reset__password-wrapper">
            <input
              type="password"
              name="confirm_password"
              class="reset__input reset__input--password"
              required
            >
            <button type="button" class="reset__toggle-password">Mostrar</button>
          </div>
        </div>

        <div class="reset__button">
          <button type="submit" class="btn btn--primary reset__submit">
            Restablecerla
            <img src="{% static 'assets/icons/reset.svg' %}" class="btn__icon">
          </button>
        </div>

      </form>

      <a class="reset__link" href="{% url 'login' %}">
        Volver al inicio de sesión
      </a>

    </div>

  </section>
</div>
{% endblock %}
