<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

<body style="font-family:Arial;background:#f4f4f4;padding:20px;">

<div style="max-width:600px;margin:auto;background:white;padding:30px;border-radius:8px;">

<h2>Recuperación de contraseña</h2>

<p>Hola Amig@,</p>

<p>Recibimos una solicitud para restablecer tu contraseña.</p>

<p>Tu código de verificación es:</p>

<h1 style="text-align:center;letter-spacing:5px;">
{{ code }}
</h1>

<p>Este código expirará en 5 minutos.</p>

<p>Si no solicitaste este cambio puedes ignorar este mensaje.</p>

</div>

</body>
</html>