{% extends 'index_home_store_seller.html' %}
{% load static %}
{% block title %}Editar Dirección de tienda paso 1 | SenaMerch {% endblock %}


{% block content %}
<section class="address-store-form">
  <div class="address-store-form__wrapper">

    <header class="address-store-form__header">
      <h2 class="address-store-form__title">Editar dirección de la tienda</h2>
      <p class="address-store-form__subtitle">
        Actualiza la información de ubicación de tu tienda en <strong>SENA MERCH</strong>.
      </p>
    </header>

    <form method="POST" action="{% url 'tiendas:edit_address_store' %}" class="address-store-form__form">
      {% csrf_token %}

      <div class="address-store-form__group">
        <label>Barrio</label>
        <input type="text" name="neighborhood"
          value="{{ tienda.barrio|default:'' }}"
          class="address-store-form__input" required>
      </div>

      <div class="address-store-form__group">
        <label>Número de dirección</label>
        <input type="text" name="address_number"
          value="{{ tienda.numero_direccion|default:'' }}"  
          class="address-store-form__input" required>
      </div>

      <div class="address-store-form__group">
        <label>Tipo de vía</label>
        <input type="text" name="road_type"
          value="{{ tienda.tipo_via|default:'' }}"
          class="address-store-form__input">
      </div>

      <div class="address-store-form__group">
        <label>Código postal</label>
        <input type="text" name="postal_code"
          value="{{ tienda.codigo_postal|default:'' }}"
          class="address-store-form__input">
      </div>

      <div class="address-store-form__secondary">
        <a href="{% url 'tiendas:store_address' %}" class="btn-secundary btn-secundary-style">
          Volver
        </a>
      </div>

      <div class="address-store-form__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
        </button>
      </div>

    </form>
  </div>
</section>
{% endblock %}