{% extends 'index_home_store_seller.html' %}
{% load static %}

{% block content %}
<section class="address-store-form">
  <div class="address-store-form__wrapper">

    <header class="address-store-form__header">
      <h2 class="address-store-form__title">Termina de editar tu dirección</h2>
      <p class="address-store-form__subtitle">
        Ingresa los datos restantes para registrar correctamente la dirección
        de tu tienda en <strong>SENA MERCH</strong>.
      </p>
    </header>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'tiendas:edit_address_seller2' %}" class="address-store-form__form">
      {% csrf_token %}

      <select name="department" class="address-store-form__input" required>
          <option value="">Selecciona...</option>
          {% for dep in departamentos %}
              <option value="{{ dep }}" {% if form_data.department == dep or profile.department == dep %}selected{% endif %}>
                  {{ dep }}
              </option>
          {% endfor %}
      </select>

      <div class="address-store-form__group">
        <label class="address-store-form__label">Municipio</label>
        <input 
          type="text"
          name="city"
          placeholder="Ej: Bogotá"
          class="address-store-form__input"
          value="{{ profile.city|default:'' }}"
          required
        >
      </div>

      <div class="address-store-form__group address-store-form__group--full">
        <label class="address-store-form__label">Información adicional</label>
        <input 
          type="text"
          name="additional_info"
          placeholder="Apartamento, interior, referencias, etc."
          class="address-store-form__input"
          value="{{ profile.extra_info|default:'' }}"
        >
      </div>

      <div class="address-store-form__secondary">
        <a href="{% url 'tiendas:edit_address_seller' %}" 
           class="btn-secundary btn-secundary-style">
          Volver
          <img src="{% static 'assets/icons/return.svg' %}" class="btn-secundary__icon">
        </a>
      </div>

      <div class="address-store-form__buttons">
        <button type="submit" class="btn btn--primary">
          Guardar
          <img src="{% static 'assets/icons/save.svg' %}" class="btn__icon">
        </button>
      </div>

    </form>

  </div>
</section>
{% endblock %}