{% extends 'index_home_store_seller.html' %}
{% load static %}

{% block content %}
<section class="edit-profile-admin">
  <div class="edit-profile-admin__wrapper">
    <header class="edit-profile-admin__header">
      <h1 class="edit-profile-admin__title">Editar dirección</h1>
      <p class="edit-profile-admin__subtitle">
        Completa la información inicial de tu dirección.
      </p>
    </header>

    <form method="POST" action="{% url 'tiendas:edit_address_seller' %}" class="address-store-form__form">
      {% csrf_token %}

      <div class="address-store-form__group">
        <label class="address-store-form__label">Barrio</label>
        <input 
          type="text"
          name="neighborhood"
          placeholder="Ej: Centro"
          class="address-store-form__input"
          value="{{ profile.neighborhood|default:'' }}"
          required
        >
      </div>

      <div class="address-store-form__group">
        <label class="address-store-form__label">Número / Dirección</label>
        <input 
          type="text"
          name="address_number"
          placeholder="Ej: 123A"
          class="address-store-form__input"
          value="{{ profile.address_number|default:'' }}"
          required
        >
      </div>

      <div class="address-store-form__group">
        <label class="address-store-form__label">Tipo de vía</label>
        <input 
          type="text"
          name="road_type"
          placeholder="Ej: Calle, Carrera"
          class="address-store-form__input"
          value="{{ profile.road_type|default:'' }}"
          required
        >
      </div>

      <div class="address-store-form__group">
        <label class="address-store-form__label">Código postal</label>
        <input 
          type="text"
          name="postal_code"
          placeholder="Ej: 660001"
          class="address-store-form__input"
          value="{{ profile.postal_code|default:'' }}"
          required
        >
      </div>

      <div class="address-store-form__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
          <img src="/frontend/public/assets/icons/continue.svg" class="btn__icon">
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock %}