{% extends "index_store_orders.html" %}
{% load static %}

{% block title %}Detalle del Pedido | SenaMerch {% endblock %}

{% block content %}

<section class="sales-made-details">

  <!-- SIDEBAR -->
  <aside class="sales-made-details__sidebar">

    <h3>Tienda</h3>
    <p id="pdf-store-name">Nombre Tienda: {{ pedido.tienda.nombre }}</p>
    <p id="pdf-store-phone">Teléfono: {{ pedido.tienda.telefono }}</p>
    <p id="pdf-store-email">Correo: {{ pedido.tienda.email }}</p>

    <hr>

    <h3>Vendedor</h3>
    <p id="pdf-seller-name">Nombre: {{ pedido.tienda.propietario.get_full_name }}</p>
    <p id="pdf-seller-email">Correo: {{ pedido.tienda.propietario.email }}</p>

    <hr>

    <h3>Cliente</h3>
    <p id="pdf-client-name">Nombre: {{ pedido.usuario.get_full_name }}</p>
    <p id="pdf-client-email">Correo: {{ pedido.usuario.email }}</p>

  </aside>

  <!-- CONTENIDO -->
  <div class="sales-made-details__content">

    <h2 id="pdf-order-id">Pedido #{{ pedido.id }}</h2>
    <p id="pdf-order-date">Fecha: {{ pedido.creado_en|date:"d/m/Y H:i" }}</p>

    <section>
      <h3>Productos</h3>

      <div class="sales-made-details__grid">
        {% for item in pedido.items.all %}
        <div class="sales-made-details__product-card">

          <p class="pdf-product-name">Producto: {{ item.producto.nombre }}</p>
          <p class="pdf-product-qty">Cantidad: {{ item.cantidad }}</p>
          <p class="pdf-product-price">Precio: {{ item.producto.precio|floatformat:2 }}</p>
          <p class="pdf-product-discount">Descuento: {{ item.producto.descuento }}%</p>
          <p class="pdf-product-total">
            Total: 
            {% if item.producto.descuento > 0 %}
              {{ item.subtotal_con_descuento|floatformat:2 }}
            {% else %}
              {{ item.subtotal|floatformat:2 }}
            {% endif %}
          </p>

        </div>
        {% endfor %}
      </div>
    </section>

    <div>
      <h3>Total: $<span id="pdf-total">{{ pedido.total|floatformat:2 }}</span></h3>
    </div>

    <!-- Botón para descargar PDF -->
    <div class="sales-made-details__actions--left">
      <button class="btn-secundary btn-secundary-style sales-made-details__button--download">
        Descargar PDF
        <img src="{% static 'assets/icons/save.svg' %}" class="btn-secundary__icon">
      </button>
    </div>

  </div>
</section>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>
<script src="{% static 'js/pdf_download_seller.js' %}"></script>
{% endblock %}