{% extends 'index_profile_store_seller.html' %}
{% load static %}
{% block title %} Visualizar dirección Tienda | SenaMerch {% endblock %}
{% block content %}

<section class="admin-profile">
  <section class="admin-profile__card">

    <div class="store-profile__header">
      <div class="store-profile__avatar">
        {% if tienda.imagen_portada %}
          <img src="{{ tienda.imagen_portada.url }}">
        {% else %}
          <img src="{% static 'img/store_default.jpg' %}">
        {% endif %}
      </div>

      <div class="store-profile__info">
        <h1 class="store-profile__name">Dirección de la tienda</h1>
        <p class="store-profile__category">{{ tienda.nombre }}</p>
      </div>
    </div>

    <div class="admin-profile__details">

      <div class="admin-profile__field">
        <span class="admin-profile__label">Barrio:</span>
        <span class="admin-profile__value">{{ direccion.barrio }}</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Número / Dirección:</span>
        <span class="admin-profile__value">{{ direccion.numero_direccion|default:"No registrado" }}</span>
      </div>


      <div class="admin-profile__field">
        <span class="admin-profile__label">Tipo de vía:</span>
        <span class="admin-profile__value">{{ direccion.tipo_via }}</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Departamento:</span>
        <span class="admin-profile__value">{{ direccion.departamento }}</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Municipio:</span>
        <span class="admin-profile__value">{{ direccion.municipio }}</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Código postal:</span>
        <span class="admin-profile__value">{{ direccion.codigo_postal }}</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Información adicional:</span>
        <span class="admin-profile__value">
          {{ direccion.informacion_adicional|default:"No registrada" }}
        </span>
      </div>

    </div>

    <div class="admin-profile__actions-grid">
      <div class="admin-profile__actions-secondary">
        <a href="{% url 'tiendas:profile_store_seller' %}" 
           class="btn-secundary btn-secundary-style">
          Volver
          <img
            src="{% static 'assets/icons/return.svg' %}"
            alt=""
            class="btn-secundary__icon"
            aria-hidden="true"
          />
        </a>
      </div>
    </div>

  </section>
</section>

{% endblock %}