{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Registro | SenaMerch{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'usuarios/css/main.css' %}">
</head>
<body>
  {% include 'components/navabar_go_go.html' %}


  {% include 'components/navbar_register.html' %}

  <main class="main-content">
    {% block content %}
    {% endblock %}
  </main>

  {% include 'components/footer.html' %}

  {% include 'components/footer_go_go.html' %}

</body>
</html>
