{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Catálogo Tienda | SenaMerch</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

  <!-- Navbar -->
    {% include 'components/navabar_go_go.html' %}
    {% if es_vendedor %}
    {% include 'components/navbar_home_store_seller.html' %}
    {% else %}
        {% include 'components/navbar_home_client.html' %}
    {% endif %}

  <!-- Sidebar de comentarios -->
  <section class="comments_users">
    <div class="comments-userss-container">
      {% include 'components/comments.html' %}
    </div>

    {% block main_content %}
    {% endblock %}
    
  <!-- Footer -->
  {% include 'components/footer.html' %}
  {% include 'components/footer_go_go.html' %}

  <script type="module">
    import { initCommentsSidebar } from "{% static 'js/comments.js' %}";
    initCommentsSidebar();
  </script>

</body>
</html>