{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Perfil | SenaMerch</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

  {# NAVBARS DEL CLIENTE (IGUAL QUE HOME_CLIENT) #}
  {% include 'components/navabar_go_go.html' %}
  {% include 'components/navbar_edit_profile_client.html' %}

  <main class="main-content">
    {% block content %}
      {% include 'usuarios/profile_user.html' %}
    {% endblock %}
  </main>

  {# FOOTERS #}
  {% include 'components/footer.html' %}
  {% include 'components/footer_go_go.html' %}

</body>
</html>
